.article-video {
  height: auto;
  width: 100%;
}

.article-video-bg {
  padding: 0rem;
  background-color: transparent;
}
.w-richtext-align-fullwidth img {
  border-radius: 16rem;
  overflow: hidden;
}

@media screen and (max-width: 991px) {
  .w-richtext-align-fullwidth img {
    border-radius: 4rem;
  }
}
