.body.slide-1 .is--howitworks-1 {
  opacity: 1;
  transform: translate(0px, 0rem);
}

.body.slide-1 .is--howitworks-2 {
  opacity: 0;
  transform: translate(0px, 40rem);
}

.body.slide-1 .is--howitworks-3 {
  opacity: 0;
}

.body.slide-2 .is--howitworks-1 {
  opacity: 0;
  transform: translate(0px, -40rem);
}

.body.slide-2 .is--howitworks-2 {
  opacity: 1;
  transform: translate(0px, 0rem);
}

.body.slide-2 .is--howitworks-3 {
  opacity: 0;
}

.body.slide-3 .is--howitworks-1 {
  opacity: 0;
}

.body.slide-3 .is--howitworks-2 {
  opacity: 0;
  transform: translate(0px, -40rem);
}

.body.slide-3 .is--howitworks-3 {
  opacity: 1;
  transform: translate(0px, 0rem);
}
