.main-wrapper {
  opacity: 0;
}

.overflow-hidden {
  overflow: hidden;
}

.splide__track {
  overflow: visible;
}

.loading-animation-split {
  line-height: 1.1;
}

/* Simplified hover state for video player controls */
.player--video-container:hover .player--video-controls {
  opacity: 1;
}

/* Consolidated styles for player--playPause */
.player--playpause {
  display: none; /* Hide the playPause button initially */
}

.player--playpause.is-visible {
  display: block; /* This class will make the playPause button visible */
}

/* widget */

#one-to-one-initiation.avatar-fade-in,
#one-to-one-initiation.video-fade-in {
  right: 40rem !important;
  bottom: 40rem !important;
  display: none !important;
}

@media screen and (max-width: 991px) {
  #one-to-one-initiation.avatar-fade-in,
  #one-to-one-initiation.video-fade-in {
    right: 20rem !important;
    bottom: 20rem !important;
  }
}

.forecast--menu-link .forecast--play-icon {
  opacity: 0;
}

.forecast--menu-link:hover .forecast--play-icon {
  opacity: 1;
}

.is--forecastshow-more.open .forecast--show-btn-text-wrapper {
  transform: translate(0px, -1.5em);
}
