.body.home--hero .after--hero--bg-img {
  opacity: 1;
}

.body.home--hero .home--hero--img-new-1 {
  top: 80rem;
  opacity: 0;
}

.body.home--hero .home--hero--img-new-2 {
  top: 180rem;
  opacity: 0;
}

.body.home--hero .home--hero--img-new-3 {
  top: 274rem;
  opacity: 0;
}

.body.home--hero .home--hero-img-new-4 {
  bottom: 184rem;
  opacity: 0;
}

.body.home--hero .home--hero-img-new-5 {
  bottom: 25rem;
  opacity: 1;
}

.body.home--hero .home--hero-img-new-6 {
  bottom: 123rem;
  opacity: 1;
}

.body.home--hero .home--hero-img-new-7 {
  bottom: 209rem;
  opacity: 1;
}

.body.home--hero .video_element.is--home-hero-new-2 {
  opacity: 1;
}
