.body.slide-1 .howitworks--video.is--1 {
  opacity: 1;
  transform: translate(0px, 0rem);
}

.body.slide-1 .howitworks--video.is--2 {
  opacity: 0;
  transform: translate(0px, 40rem);
}

.body.slide-1 .howitworks--video.is--3 {
  opacity: 0;
}

.body.slide-2 .howitworks--video.is--1 {
  opacity: 0;
  transform: translate(0px, -40rem);
}

.body.slide-2 .howitworks--video.is--2 {
  opacity: 1;
  transform: translate(0px, 0rem);
}

.body.slide-2 .howitworks--video.is--3 {
  opacity: 0;
}

.body.slide-3 .howitworks--video.is--1 {
  opacity: 0;
}

.body.slide-3 .howitworks--video.is--2 {
  opacity: 0;
  transform: translate(0px, -40rem);
}

.body.slide-3 .howitworks--video.is--3 {
  opacity: 1;
  transform: translate(0px, 0rem);
}
