.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

html.lenis {
  height: auto;
}

.main-wrapper {
  opacity: 0;
}

html.w-editor .main-wrapper {
  opacity: 1;
}

.frontrunner--embed .hs-input {
  height: 64rem;
  padding: 0px 32rem;
  color: white;
  border-radius: 88rem;
  border: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 24rem;
  font-style: normal;
  background-color: transparent;
}

#ot-sdk-btn-floating.ot-floating-button {
  position: relative !important;
  top: -70em;
  left: 0em !important;
  background-color: transparent !important;
  display: none !important;
}

#ot-sdk-btn-floating .ot-floating-button__front {
  background-color: transparent !important;
}

@media screen and (max-width: 991px) {
  #onetrust-consent-sdk {
    background-color: black;
    padding-right: 24rem;
    padding-left: 24rem;
    padding-bottom: 0em;
    height: 0em !important;
  }
}
