.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

html.lenis {
  height: auto;
}

.main-wrapper {
  opacity: 0;
}

html.w-editor .main-wrapper {
  opacity: 1;
}

.frontrunner--embed .hs-input {
  width: 100% !important;
  height: 48rem;
  border-radius: 300rem;
  border-width: 0;
  font-size: 16rem;
  padding-left: 24rem;
  padding-right: 24rem;
  color: black;
}

.frontrunner--embed .input {
  margin: 0px;
}

.frontrunner--embed .hs-error-msgs {
  font-size: 12rem;
  color: red;
}

#onetrust-consent-sdk {
  background-color: black;
  padding-right: 60em;
  padding-left: 60em;
  padding-bottom: 0em;
  height: 0em !important;
}

#ot-sdk-btn-floating.ot-floating-button {
  position: relative !important;
  top: -70em;
  left: 0em !important;
  background-color: transparent !important;
}

#ot-sdk-btn-floating .ot-floating-button__front {
  background-color: transparent !important;
}

@media screen and (max-width: 991px) {
  #onetrust-consent-sdk {
    background-color: black;
    padding-right: 24rem;
    padding-left: 24rem;
    padding-bottom: 0em;
    height: 0em !important;
  }
}
