<meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
<meta name="google-site-verification" content="E1jb_Po8dHIaV4axTjytAptXVRRgO_TSAnOP_517dmI" />
<meta name="google-site-verification" content="F4x3H6TuZRbKdf9KNDktWGa_qrK7PDuFI_PeYXFxh2c" />

<style>

input:focus + label {
  top: 1.25em;
  font-size: 8em;
}

textarea:focus + label {
  top: 1.25em;
  font-size: 8em;
}

.input_field:focus {
  outline: 1px !important;
  outline-color: #000;
}

input:valid + label {
  top: 1.25em;
  font-size: 8em;
}

textarea:valid + label {
  top: 1.25em;
  font-size: 8em;
}

.label_field.focus {
  top: 1.25em;
  font-size: 8em;
}

.label_field {
  pointer-events: none;
}

.hs-input {
  width: 100% !important;
  height: 3.4285714285714284em;
  margin-bottom: 0px;
  padding-top: 0.7142857142857143em;
  padding-right: 1.1428571428571428em;
  padding-bottom: 0.7142857142857143em;
  padding-left: 16px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: @swatch_a5e9b737;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: @swatch_a5e9b737;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: @swatch_a5e9b737;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: @swatch_a5e9b737;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 14em;
  line-height: 1.4285714285714286;
  font-weight: 500;
  font-family: "Neue Haas Grotesk Display", sans-serif;
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease;
}

.hs-input:focus {
  outline: 1px !important;
  outline-color: #000;
}

.hs-input:main_focus {
  border-top-color: black;
  border-right-color: black;
  border-bottom-color: black;
  border-left-color: black;
  font-weight: 500;
}

.hs-input:main_active {
  border-top-color: black;
  border-right-color: black;
  border-bottom-color: black;
  border-left-color: black;
}
.hs-input {
  font-size: 14em;
  margin-bottom: calc(16em / 14);
}
.hs-form label {
  position: static;
  left: 16px;
  top: 1.1428571428571428em;
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease;
  font-family: Neue Haas Grotesk text;
  color: #747474;
  font-size: 12em;
  line-height: 1.2857142857142858;
  font-weight: 500;
  text-transform: none;
  margin-bottom: calc(4em / 12);
}

.active-field {
  top: 1.25em;
  font-size: 8em;
}

.hs-error-msg {
  font-size: 14em !important;
  position: static !important;
  color: #e12147 !important;
  font-weight: 400 !important;
  margin-top: calc(-12em / 14);
}

.hs-form-field ul {
  font-size: calc(12em / 16);
  padding-left: 0px;
  margin-bottom: 0px;
}

.hs-form-field li {
  font-size: 1em;
  margin-bottom: 16em;
}

.hs-input:focus + label {
  top: 1.25em;
  font-size: 8em;
}

.hs-richtext p {
  font-size: 12em;
  color: #747474;
  line-height: calc(16 / 12);
  margin-bottom: calc(16em / 12);
}

.hs-richtext a {
  color: black;
  font-weight: 700;
  text-decoration: none;
}

.hs-button {
  font-family: "Neue Haas Grotesk Display", sans-serif;
}

.hs-button.primary.large {
  padding-top: 0.6666666666666666em;
  padding-right: 1.3333333333333333em;
  padding-bottom: 0.6666666666666666em;
  padding-left: 1.3333333333333333em;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #2a2a2a;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #2a2a2a;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #2a2a2a;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #2a2a2a;
  border-top-left-radius: 0.3333333333333333em;
  border-top-right-radius: 0.3333333333333333em;
  border-bottom-left-radius: 0.3333333333333333em;
  border-bottom-right-radius: 0.3333333333333333em;
  background-color: #2a2a2a;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease;
  color: @swatch_8679021e;
  font-size: 12em;
  line-height: 2;
  color: white;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.hs-button.primary.large:main_hover {
  border-top-color: @swatch_3ed7a2dc;
  border-right-color: @swatch_3ed7a2dc;
  border-bottom-color: @swatch_3ed7a2dc;
  border-left-color: @swatch_3ed7a2dc;
  background-color: @swatch_3ed7a2dc;
  text-decoration: none;
}

.hs-button.primary.large:main_active {
  background-color: @swatch_3ed7a2dc;
}

.hs_error_rollup ul {
  font-size: 12em;
  padding-left: 0px;
  margin-bottom: 0px;
}

.hs_error_rollup li {
  font-size: 1em;
  margin-bottom: calc(16em / 12);
}

.hs_error_rollup li::marker {
  font-size: 0em;
}

.hs_error_rollup label {
  font-size: 1em;
  padding-left: 0px;
  margin-bottom: 0px;
  color: #e12147 !important;
}

label .hs-input {
  font-size: 1em;
  width: auto;
  margin-bottom: 0px;
  margin-right: 0.5em;
  height: auto;
}

.hs-form-checkbox label {
  font-size: 1em;
}

.hs-form-checkbox-display {
  display: flex;
  align-items: center;
}

.hs-form-checkbox-display span {
}

.input ul {
  font-size: 12em;
  margin-top: 2em;
}

.input li {
  margin-bottom: 1em;
  margin-top: 1em;
}
li::marker {
  font-size: 0px;
}

.hs_what_type_of_customers_.hs-what_type_of_customers_.hs-fieldtype-checkbox.field.hs-form-field {
  font-size: calc(14em / 12);
}

</style>

<style>
html {
	font-size: calc(100vw/1440);
}

/* body settings */
body {
	overflow-x:hidden;
  -webkit-font-smoothing: antialiased;
}


@media only screen and (min-width: 1920px)  {
     html {font-size: calc(100vw/1920);}
}



@media screen and (min-width: 768px) and (max-width: 991px) {
	html {font-size: calc(100vw/768);}
}

@media screen and (min-width: 480px) and (max-width: 767px) {
	html {font-size: calc(100vw/480);}
}

@media screen and (max-width: 479px) {
	html {font-size: calc(100vw/375);}
}

@media only screen and (max-width: 1128px) {
.grid_navbar {
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
}
}

@media screen and (min-width: 768px) {

  .navdropdown--items {
    display:none;
  }

  .navdropdown--wrapper:focus .navdropdown--items {
    display:block;
  }

  .navdropdown--wrapper:focus-within .navdropdown--items {
    display:block;
  }

  .navdropdown--wrapper:hover .navdropdown--items {
    display:block;
  }

}

/* navbar settings */
.navbar_overlay {
pointer-events: none;
}



/* logo scrolling */
.is--scrolling {
  white-space: nowrap;
  will-change: transform;
  animation: is--scrolling 40s linear infinite;
  /* manipulate the speed of the marquee by changing "40s" line above*/
}

@media only screen and (max-width: 991px)  {
     .is--scrolling {
  white-space: nowrap;
  will-change: transform;
  animation: is--scrolling 30s linear infinite;
  /* manipulate the speed of the marquee by changing "40s" line above*/
}
}

@keyframes is--scrolling {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

  
.checkbox_field-parent {
  font-size:1em !important;
  } 

.gradient_bottom {
  pointer-events: none;
}

.middle {
  justify-self: center;
  align-self: center;
}

.video_logo-parent {
  pointer-events: none;
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
  .announcement_parent {
    font-size: 0.25vw;
  }
  
  html {font-size: calc(100vw/375);}
}
}

select.hs-input {
  background-image: url(https://uploads-ssl.webflow.com/5de0e7623719a14060d5e857/60dc6ea4df79dbdc6cd73057_Icon.svg);
  background-size: calc(24em / 14);
  background-position-x: 97%;
  background-position-y: center;
  background-repeat: no-repeat;
  -webkit-appearance: none;
}

.hs-fieldtype-intl-phone.hs-input .hs-input {
  font-size: 1em;
}

.hs-form-checkbox-display input {
  width: auto !important;
}

.submitted-message {
  font-size: 16em;
}

/* newseltter footer settings */
.is--hubspot-form a {
  color: white;
  font-weight: 700;
  text-decoration: none;
}

.is--hubspot-form {
  color: white;
}

.is--hubspot-form .hs-input {
  background-color: transparent;
  border-radius: 0px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  font-size: 14em;
  width: 100%;
  margin-bottom: calc(16em / 14);
  height: 3.4285714285714284em;
}

.is--hubspot-form label {
  position: static;
  left: 16px;
  top: 1.1428571428571428em;
  font-family: Neue Haas Grotesk text;
  color: #747474;
  font-size: 12em;
  line-height: 1.2857142857142858;
  font-weight: 500;
  text-transform: none;
  margin-bottom: calc(4em / 12);
}

.is--hubspot-form p {
  font-size: 12em;
  background-color: transparent !important;
  color: white;
}

.is--hubspot-form ul {
  font-size: calc(12em / 16);
  padding-left: 0px;
  margin-bottom: 0px;
}

.is--hubspot-form .hs-error-msg {
  font-size: 14em;
  color: #e12147;
  margin-top: calc(-12em / 14);
  font-weight: 400 !important;
}

.is--hubspot-form .submitted-message {
  font-size: 2em;
}

.is--hubspot-form .hs-button.primary.large {
  position: absolute;
  font-size: 16em;
  padding-right: 0em;
  padding-top: 0.6666666666666666em;
  padding-bottom: 0.6666666666666666em;
  padding-left: 1.3333333333333333em;
  top: 3.2em;
  right: 0.2em;
  border-top-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  background-color: transparent !important;
}

.cta--product-item {
	box-shadow: 30.1314px 35.1533px 48.2102px rgba(0, 0, 0, 0.08);
}

</style>