/* newseltter footer settings */
.is--hubspot-form a {
  color: white;
  font-weight: 700;
  text-decoration: none;
}

.is--hubspot-form {
  color: white;
}

.is--hubspot-form .hs-input {
  background-color: transparent;
  border-radius: 0px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  font-size: 14em;
  width: 100%;
  margin-bottom: calc(16em / 14);
  height: 3.4285714285714284em;
}

.is--hubspot-form label {
  position: static;
  left: 16px;
  top: 1.1428571428571428em;
  font-family: Neue Haas Grotesk text;
  color: #747474;
  font-size: 12em;
  line-height: 1.2857142857142858;
  font-weight: 500;
  text-transform: none;
  margin-bottom: calc(4em / 12);
}

.is--hubspot-form p {
  font-size: 12em;
  background-color: transparent !important;
  color: white;
}

.is--hubspot-form ul {
  font-size: calc(12em / 16);
  padding-left: 0px;
  margin-bottom: 0px;
}

.is--hubspot-form .hs-error-msg {
  font-size: 14em;
  color: #e12147;
  margin-top: calc(-12em / 14);
  font-weight: 400 !important;
}

.is--hubspot-form .submitted-message {
  font-size: 2em;
}

.is--hubspot-form .hs-button.primary.large {
  position: absolute;
  font-size: 16em;
  padding-right: 0em;
  padding-top: 0.6666666666666666em;
  padding-bottom: 0.6666666666666666em;
  padding-left: 1.3333333333333333em;
  top: 19rem;
  right: 0rem;
  border-top-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  background-color: transparent !important;
  color: black;
}
