.linktree-richtext a {
    color: white;
  }
  
  .w-richtext:after,
  .w-richtext:before {
    display: none;
  }
  
  .linktree--form-parent input {
    height: 48rem;
    font-size: 16rem;
    width: 100%;
    padding: 16rem;
    margin-bottom: 12rem;
  }
  
  .linktree--form-parent label {
    display: none;
  }
  
  .linktree--form-parent .hs-button.primary.large {
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 8rem;
    padding-right: 24rem;
    padding-bottom: 6rem;
    padding-left: 24rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #6b00de;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #6b00de;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #6b00de;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #6b00de;
    border-top-left-radius: 100rem;
    border-top-right-radius: 100rem;
    border-bottom-left-radius: 100rem;
    border-bottom-right-radius: 100rem;
    background-color: #6b00de;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease;
    font-family: Neue Haas Grotesk Display;
    color: white;
    font-size: 14rem;
    line-height: 2.142857142857143;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }
  
  .linktree--form-parent .hs-button.primary.large:hover {
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: black;
    border-left-color: black;
    background-color: black;
    text-decoration: none;
  }
  
  .linktree--form-parent .hs-button.primary.large:medium {
    padding-right: 32rem;
    padding-left: 32rem;
  }
  
  .linktree--form-parent .no-list.hs-error-msgs.inputs-list {
    color: red;
    font-size: 12em;
    padding-left: 20rem;
    font-weight: 400;
    margin-bottom: 0rem !important;
  }
  
  .linktree--form-parent .hs-error-msg.hs-main-font-element {
    display: block;
  }
  
  .hs-richtext p {
    font-size: 12rem;
    margin-bottom: 12rem;
  }
  