.is--demo-hero .hs-form label {
  color: #000;
  font-size: 14rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 11rem;
}

.is--demo-hero .hs-input {
  height: 48rem;
  padding: 4rem 16rem;
  border-radius: 8rem;
  border: 1px solid #999;
  background: #f6f8fa;
  margin-bottom: 11rem;
  font-size: 14rem;
  line-height: 140%;
}

.is--demo-hero .hs-richtext {
  margin-bottom: 36rem;
}

.is--demo-hero p {
  color: #000;
  font-size: 12rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.is--demo-hero .hs-richtext a {
  font-weight: 400;
  text-decoration: underline;
}

.is--demo-hero .hs-button.primary.large {
  display: flex;
  padding: 13rem 26rem;
  justify-content: center;
  align-items: flex-start;
  gap: 10rem;
  border-radius: 58rem;
  background: #6b00de;
  color: #fff;
  text-align: center;
  font-size: 15rem;
  font-style: normal;
  font-weight: 500;
  line-height: 170%; /* 171.429% */
  border-width: 0px;
}
